.not-found-container {
    text-align: center;
    margin-top: 100px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(249, 232, 232);
  }
  
  .not-found-title {
    font-size: 80px;
    color: #1976d2;
    font-weight: bold;
  }
  
  .not-found-subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .not-found-text {
    color: #666;
    margin-bottom: 20px;
  }
  
  .not-found-button {
    background-color: #1976d2;
    color: white;
  }
  
  .not-found-button:hover {
    background-color: #1565c0;
  }
  